body{
  margin:0;
}
.container {
  display: flex;
  flex-direction:row;
  align-items:start;
  justify-content: space-between;
  padding:20px;
  gap: 5px;
  background-color: aquamarine;
  height: 600px;
}

.box{
    width: 60px;
    height: 60px;
    background-color:blue ;
    flex-grow: 1;
    border-radius: 15px;
}
.b1{
  background-color: blueviolet;
  flex-grow: 1;
}
.b2{
  background-color:orange;
  flex-grow: 4;
}
.b3{
  background-color:brown;
}
.b4{
  background-color:green;
  flex-grow: 0;
}
.b5{
  background-color:blue;
  flex-grow: 5;
}
